# STILL A WIP!
#
#
# This is a kickstart file that will install a RHEL 7.3 Server
#  (minimal install) on a KVM virtual machine.
#  The root and user passwords are both "github".
#
# Also works with CentOS 7.
#
#
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
#  this should be changed to "text" or "cmdline" after you've verified everything
graphical
# Run the Setup Agent on first boot
firstboot --enable
# We expect this kickstart file to install to a single hard drive
#ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$1.ceo4L7aHvqBHSi$kei.EcDoMQrqyDm7wZTx20JMvJ84/fYiv1oFnZgBDy99KPwyYR51slA3LaZQ5JcQ5cTH6aJRyWA0rgS/BzeDM0
# System services
services --enabled="chronyd,serial-getty@ttyS0"
# System timezone
timezone America/New_York --isUtc
user --name=thomas --password=$6$goMTV4CoT7NFINy.$Lo.ynkF3Vw.p4LXlcexDb0UwrfG5TmLwLvfOgV9baEq.DgW5CkHNN97prElSxhywrCkW/ZLqbG0XXZszNDO5W. --iscrypted
# System bootloader configuration
#bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
bootloader --append=" crashkernel=auto" --location=mbr
#autopart --type=lvm
part /boot --fstype=xfs --size=500 --grow --maxsize=1000
part pv.01 --size=2000 --grow
volgroup VG pv.01
logvol / --vgname=VG  --name=root  --size=1000  --grow
logvol swap --vgname=VG  --name=swap  --size=256  --grow  --maxsize=4000
# Partition clearing information
clearpart
zerombr
# Reboot into the new system after install
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
